<center>
    Filter:<input type="text" name="" value="" ng-model="search" placeholder="search"> View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>50</option><option>100</option><option>300</option></select> records at a time.
</center>
<uib-pagination boundary-links="true" max-size="maxSize" total-items="filterData.length" ng-model="currentPage" class="pagination-sm" previous-text=" Previous" next-text="Next" first-text="First" last-text="Last"></uib-pagination>
<table class="table">
    <thead>
        <tr>
            <th ng-repeat="value in tabeInfo.Heading">{{value}}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in filterData= (tabeInfo.MainData | filter : search) | limitTo:viewby:viewby*(currentPage-1)">
            <td ng-repeat="value in tabeInfo.keys">
                <span ng-if="!value.parent">{{user[value.name]}}</span>
                <span ng-if="value.parent">
            <parent info="value.arrayinfo" cid="user[value.cid]" field="{{value.field}}"></parent>
            </span>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="edit_modal(user)">Edit</button>
                <button type="button" class="btn btn-default" ng-click="delete(user.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<uib-pagination boundary-links="true" max-size="maxSize" total-items="filterData.length" ng-model="currentPage" class="pagination-sm" previous-text=" Previous" next-text="Next" first-text="First" last-text="Last"></uib-pagination>